.istex-facets .istex-facets-title {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 15px;
}
.istex-facets .istex-facet {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  clear: both;
}
.istex-facets .istex-facet .istex-facet-name {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #AAA;
  padding-bottom: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.istex-facets .istex-facet .istex-facet-checkbox{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.istex-facets .istex-facet .istex-facet-checkbox label{
  display: block;
}
#istex-widget-facets .istex-facets .istex-facet .istex-facet-checkbox.wos label {
  font-size: 75%;
}
#istex-widget-facets .istex-facets .istex-facet .istex-facet-checkbox.inist label {
  font-size: 75%;
}
#istex-widget-facets .istex-facets .istex-facet .istex-facet-checkbox.scopus label {
  font-size: 75%;
}
#istex-widget-facets .istex-facets .istex-facet .istex-facet-checkbox.scienceMetrix label {
  font-size: 75%;
}

.istex-facets .istex-facet .istex-facet-checkbox input{
  margin-right: 8px;
}
.istex-facets .istex-facet .istex-facet-checkbox .istex-facet-checkbox-badge{
  float: right;
  display: inline-block;
  min-width: 10px;
  padding: 0 4px 0 4px;
  margin-top: 0;
  font-size: small;
  font-weight: bold;
  color: #FFF;
  background-color: #5A99B0;
  border-radius: 4px;
}
.istex-facets .istex-facet .rzslider span.rz-pointer {
  top: -8px;
  width: 20px;
  height: 20px;
}
.istex-facets .istex-facet .rzslider span.rz-pointer:after {
  top: 6px;
  left: 6px;
}
.istex-facets .istex-facet .icon.arrow {
  background: url("../public/img/arrow-d.png") no-repeat scroll 0 0 transparent;
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  vertical-align: bottom;
}
.istex-facets .istex-facet .icon.arrow.flipped {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}