div.istex-results-items-stats {
  padding: 0;
  margin: 0;
  line-height: 30px;
  color: #808080;
}
ol.istex-results-items {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ol.istex-results-items li.istex-results-item {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}
ol.istex-results-items li.istex-results-item a.istex-results-item-title {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  color: #478DA7;
}
ol.istex-results-items li.istex-results-item p.istex-results-item-abstract {
  padding: 0;
  margin: 0;
  margin-top: 4px;
  font-size: smaller;
  font-weight: lighter;
  text-decoration: none;
  text-align: justify;
  color: #000;
}
ol.istex-results-items li.istex-results-item div.istex-results-item-corpus {
  padding: 2px;
  margin: 0;
  margin-top: 8px;
  font-size: smaller;
  vertical-align: middle;
  font-family: monospace;
  float: right;
  background-color: #B2C32E;
  color: #FFF;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
ol.istex-results-items li.istex-results-item ul.istex-results-item-download {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ol.istex-results-items li.istex-results-item ul.istex-results-item-download li.istex-results-item-dl {
  padding: 0;
  margin: 0;
  margin-top: 8px;
  list-style-type: none;
}
ol.istex-results-items li.istex-results-item div.download {
  display: inline-block; margin-right: 10px;
}
ol.istex-results-items li.istex-results-item ul.istex-results-item-download li.istex-results-item-dl a {
  padding: 2px;
  margin: 0;
  margin-right: 2px;
  display: inline-block;
  height: 25px;
  width: 25px;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: url(../public/img/istexresults-item-dl-file.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
ol.istex-results-items li.istex-results-item ul.istex-results-item-download li.istex-results-item-dl a.istex-results-item-dl-pdf {
  background-image: url(../public/img/istexresults-item-dl-pdf.png);
}
ol.istex-results-items li.istex-results-item ul.istex-results-item-download li.istex-results-item-dl a.istex-results-item-dl-mods {
  background-image: url(../public/img/istexresults-item-dl-mods.png);
}
ol.istex-results-items li.istex-results-item ul.istex-results-item-download li.istex-results-item-dl a.istex-results-item-dl-xml {
  background-image: url(../public/img/istexresults-item-dl-xml.png);
}
ol.istex-results-items li.istex-results-item ul.istex-results-item-download li.istex-results-item-dl a.istex-results-item-dl-txt {
  background-image: url(../public/img/istexresults-item-dl-txt.png);
}
ol.istex-results-items li.istex-results-item ul.istex-results-item-download li.istex-results-item-dl a.istex-results-item-dl-tei {
  background-image: url(../public/img/istexresults-item-dl-tei.png);
}
ol.istex-results-items li.istex-results-item ul.istex-results-item-download li.istex-results-item-dl a.istex-results-item-dl-zip {
  background-image: url(../public/img/istexresults-item-dl-zip.png);
}
ol.istex-results-items li.istex-results-item div.istex-results-item-bottom {
  clear: both;
}
.istex-results-pagination {
  margin: auto;
  text-align: center;
}
.istex-results-pagination button {
  border: medium none;
  color: transparent;
  height: 15px;
  vertical-align: middle;
  width: 15px;
  cursor: pointer;
}
.istex-results-pagination button.istex-results-pagination-prec {
  background: url("../public/img/istexresults-pagination-btn.png") no-repeat scroll 0 0 transparent;
  margin-right: 10px;
}
.istex-results-pagination button.istex-results-pagination-next {
  background: url("../public/img/istexresults-pagination-btn.png") no-repeat scroll 0 0 transparent;
  transform: rotate(180deg);
  margin-left: 10px;
}
.istex-results-pagination ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
  color: #9c9d9f;
}
.istex-results-pagination ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-left: 2px;
  margin-right: 2px;
  width: 25px;
  display: inline-block;
}
.istex-results-pagination ul li a {
  text-decoration: none;
  cursor: pointer;
}
.istex-results-pagination ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.istex-results-pagination ul li.istex-results-pagination-page-selected {
  font-weight: bold;
}
.istex-results-pagination ul li.istex-results-pagination-page-selected a {
  color: black;
  cursor: default;
}
.istex-results-pagination ul li.istex-results-pagination-page-selected a:hover {
  text-decoration: none;
  cursor: default;
}
p.istex-results-error {
  margin: 5px 0 0 0;
  padding: 0;
  color: #DD4B39;
}
p.istex-results-error span.istex-results-error-msg {
  font-size: medium;
}
p.istex-results-error span.istex-results-error-raw {
  font-size: small;
  font-style: italic;
}
